@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,700;1,800;1,900&display=swap");

/* px é uma unidade de medida fixa que representa um pixel na tela.
Quando você especifica um tamanho em pixels, como font-size: 16px; ou width: 200px;, você está definindo um tamanho exato em relação à resolução do dispositivo. */

/* rem é uma unidade de medida relativa que representa o tamanho da fonte do elemento raiz (html ou :root).
Você pode usar rem para definir tamanhos de fonte, espaçamentos, margens, etc., de forma que esses valores se ajustem automaticamente
A vantagem do rem é que ele é relativo ao tamanho da fonte do elemento raiz, o que torna mais fácil criar layouts escaláveis. */

/* % é uma unidade de medida relativa que representa uma porcentagem do tamanho do elemento pai.
você está definindo um tamanho em relação ao tamanho do elemento pai.
Por exemplo, se você tiver um elemento pai com largura de 400px e definir width: 50%; em um elemento filho, o elemento filho terá 200px de largura.
As porcentagens são úteis para criar layouts fluidos que se ajustam dinamicamente ao tamanho do contêiner pai ou da tela. */


    *{
        font-family: 'Poppins', sans-serif;
        margin: 0; padding: 0;
        box-sizing: border-box;
        outline: none;
        border: none;
        text-decoration: none;
        text-transform: capitalize;
        transition: .2s linear;
    }

    html{
        font-size: 62.5%;
        overflow-x: hidden;
        scroll-behavior: smooth;
    }

    .btn{
        /* está fazendo com que um elemento se comporte como um bloco, mas ainda mantenha algumas características de elementos em linha, proporcionando flexibilidade na disposição e no design do layout. */
        display: inline-block;
        margin-top: 1rem;
        padding: .8rem 3rem;
        border: .1rem solid #130f40;
        border-radius: .5rem;
        background: none;
        color: #130f40;
        font-size: 1.7rem;
        /* faz com que o cursor assuma a forma de uma mão, indicando que o elemento é clicável, como um link, botão ou qualquer elemento interativo. */
        cursor: pointer;
    }

    .btn:hover{
        background: #130f40;
        color: #fff;
    }

    /* header */

    .header{
        position: fixed;
        top: 0; left: 0; right: 0;
        /* é usada para controlar a sobreposição de elementos em um layout quando há sobreposição entre eles
        Quando você define z-index: 1000;, você está dizendo ao navegador que este elemento deve ser posicionado acima de outros elementos com z-index menor ou não definido. 
        Ou seja, o elemento com z-index: 1000; estará em um nível de empilhamento mais alto em relação aos outros elementos. */
        /* só funciona em elementos que possuem uma propriedade position diferente de static (ou seja, relative, absolute ou fixed).  */
        z-index: 1000;
        background: #fff;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
        display: flex;
        align-items: center;
        /* controlar o espaçamento entre os itens ao longo do eixo principal (geralmente o eixo horizontal) */
        justify-content: space-between;
        /* preenchimento */
        padding: 2rem 9%;
    }

    .header .logo{
        font-size: 2.5rem;
        font-weight: bolder;
        color: #130f40;
    }

    .header .logo i{
        color: #ff7800;
        padding-right: .5rem;
    }

    .header .navbar a{
        font-size: 1.7rem;
        color: #130f40;
        margin: 0 1rem;
    }

    .header .navbar a:hover{
        color: #ff7800;
    }

    .header .icons div{
        font-size: 2.5rem;
        margin-left: 1.7rem;
        color: #130f40;
        cursor: pointer;
    }

    /* :hover é uma pseudo-classe que é aplicada quando o usuário passa o mouse sobre o elemento selecionado. 
    Neste caso, quando o mouse passa sobre o elemento div dentro de .icons, a cor do texto muda para #ff7800 (laranja). */
    .header .icons div:hover{
        color: #ff7800;
    }

    /* #menu: Este é um seletor CSS que seleciona um elemento com o ID menu. 
    O seletor # é usado para selecionar elementos com um ID específico em HTML. */
    .header .icons #menu{
        display: none;
    }

    .header .shopping-cart{
        position: absolute;
        top: 115%; right: -105% ;
        background: #fff;
        border-radius: .5rem;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
        width: 35em;
        padding: 2rem;
    }
    /* active é adicionada a um elemento HTML, 
    ela geralmente desencadeia uma mudança em sua aparência ou comportamento.  */
    .header .shopping-cart.active{
        right: 2rem;
        transition: .4s linear;
    }

    .header .shopping-cart .box{
        display: flex;
        align-items: center;
        gap: 1.5rem;
        margin-bottom: 1.5rem;
        position: relative;
    }

    .header .shopping-cart .box .fa-times{
        position: absolute;
        top: 50%; right: 2rem;
        transform: translateY(-50%);
        font-size: 2rem;
        color: #666;
        cursor: pointer;
    }

    .header .shopping-cart .box .fa-times:hover{
        color: #ff7800
    }

    .header .shopping-cart .box img{
        height: 10rem;
    }

    .header .shopping-cart .box .content h3{
        font-size: 1.7rem;
        padding-bottom: .5rem;
        color: #130f40;
    }

    .header .shopping-cart .box .content span{
        font-size: 1.5rem;
        color: #666;
    }

    .header .shopping-cart .box .content span.multiply{
        margin: 0 .5rem;
    }

    .header .shopping-cart .total{
        color: #130f40;
        text-align: center;
        font-size: 2.2rem;
    }

    .header .shopping-cart .btn{
        text-align: center;
        width: 100%;
    }

    .header .login-form{
        position: absolute;
        top: 115%; right: -105%;
        background: #fff;
        border-radius: .5rem;
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
        width: 35rem;
        padding: 2rem;
    }

    .header .login-form.active{
        right: 2rem;
        transition: .4s linear;
    }

    .header .login-form h3{
        color: #130f40;
        /* altera o estilo do texto para que todas as letras sejam exibidas em maiúsculas. */
        text-transform: uppercase;
        font-size: 2.2rem;
        text-align: center;
        margin-bottom: .7rem;
    }

    .header .login-form .box{
        margin: .7rem 0;
        border: .1rem solid rgba(0,0,0,0.1);
        padding: 1rem 1.2rem;
        font-size: 1.5rem;
        color: #130f40;
        /* é usada para especificar que nenhum tipo de transformação de capitalização deve ser aplicado ao texto.
         Isso significa que o texto será exibido exatamente como foi inserido no HTML, sem nenhuma alteração em sua capitalização. */
        text-transform: none;
        width: 100%;
    }

    .header .login-form .lembre{
        display: flex;
        align-items: center;
        /* definir o espaçamento entre os itens dentro do contêiner */
        gap: .5rem;
        margin: .7rem 0;
    }

    .header .login-form .lembre label{
        font-size: 1.5rem;
        color: #666;
        cursor: pointer;
    }

    .header .login-form .btn{
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }
    
    /* final header */

    /* inicio */

    .inicio{
        padding: 0;
    }

    .inicio .slide{
        /* vh em CSS representa a porcentagem da altura da janela de visualização (viewport). */
        /* Isso significa que 1vh é igual a 1% da altura total da janela de visualização.
        útil para dimensionar elementos de forma responsiva com base na altura da janela do navegador, 
        garantindo que eles se ajustem dinamicamente ao tamanho da tela do dispositivo, independentemente do tamanho do dispositivo ou da resolução da tela. */
        min-height: 100vh;
        /* !important é uma declaração que aumenta a especificidade da regra CSS,
        tornando-a prioritária sobre outras regras que poderiam estar definidas para a mesma propriedade. */
        background-size: cover !important;
        background-position: center !important;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    home.slide .content{
        width: 60rem;
        text-align: center;
    }



